body{
	background-color: #CCFFDD;
}
header{
    width: 1000px;
    height:120px;
    background:#444;
    margin:auto;
    }
div{
    width: 1000px;
    margin: 10px auto;
    height:550px;
    background: antiquewhite;
    }
    
section{
    position: relative;
    width: 1000px;
    height:453px;
    margin:auto;
    background:#aaa;
    }
footer{
    width: 1000px;
    margin:20px auto;
    height:70px;
    background:#888;
    }
aside#izq{
    position: absolute;
    width: 500px;
    height:453px;
    left: 0;
    top: 0;
    background: bisque;
}
aside#der{
    position: absolute;
    width: 500px;
    height:453px;
    right: 0;
    top: 0;
    background:coral;
}